.underLoad {
    opacity: 0.1;
}

#ajax-loader {
    overflow: hidden;
}

#ajax-loader.is-loading {
    border-radius: 25px;
    max-width: 50px;
    max-height: 50px;
    cursor: default;
}

#ajax-loader.is-loading::after {
    -webkit-animation: fadeIn 0.3s ease-in, spin 1.3s infinite ease-in-out;
    animation: fadeIn 0.3s ease-in, spin 1.3s infinite ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#ajax-loader.is-loading span {
    opacity: 0;
}

#ajax-loader::after {
    content: " ";
    border-top: solid 4px #17cae6;
    border-right: solid 4px #17cae6;
    border-bottom: solid 4px #17cae6;
    border-left: solid 4px transparent;
    border-radius: 50px;
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    margin: auto;
    max-width: 30px;
    max-height: 30px;
    opacity: 0;
    z-index: 1;
}

@-webkit-keyframes spin {
    0%, 5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    95%, 100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%, 5% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    95%, 100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
